<!-- 個別のTODO画面 -->
<div class="todo__desc">
    <div class="todo__title"><%= @todo_title %></div>
    <div class="todo__content"><%= @todo_content %></div>
    <!-- 戻る, 編集, 削除 -->
    <div class="form__crud">
        <a href="/" class="button__decorate">return</a>
        <a href="/todos/<%= @todo_id %>/edit" class="button__decorate">edit</a>
        <form method="POST" action="/todos/<%= @todo_id %>">
            <input type="hidden" value="DELETE" name="_method">
            <input type="hidden" value="<%= @todo_id %>" name="delete">
            <input class="button__decorate" type="submit" value="delete">
        </form>
    </div>
</div>