 <form  action="/todo" method="POST">
    Title: <input type="text" name="todotitle" value="<%= @memotitle %>">
    <br>
    <textarea rows="4" cols="50" name="todocontent">
    <%= @memocontent %>
    </textarea> 
    <input type="hidden" value="PATCH" name="_method">
    <input type="hidden" value="<%= @memoid %>" name="id">
    <input type="submit" value="update">
    <!-- なんやこれ... patchメソッドでuriのクエリパラメータにすべてのデータを投げるのっていいのか...? -->
    <!--
    <a href="/todo?_method=PATCH&id=<%= @memoid %>&title=<%= @memotitle%>&content=<%= @memocontent%>">update</a>
    -->
</form>
